.composition {
  position: relative;

  &__photo {
    width: 55%;
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    transition: all 0.2s;
    z-index: 10;
    outline-offset: 2rem;

    @include response-phone(tab-potrait) {
      float: left;
      position: relative;
      width: 33.33333%;
      box-shadow: 0 1.5rem 2rem rgba($color-black, 0.2);
    }

    &--p1 {
      left: 0;
      top: -2rem;

      @include response-phone(tab-potrait) {
        top: 1rem;
        transform: scale(1.2);
      }
    }

    &--p2 {
      right: 0;
      top: 2rem;

      @include response-phone(tab-potrait) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 100;
      }
    }

    &--p3 {
      left: 20%;
      top: 10rem;

      @include response-phone(tab-potrait) {
        left: 0;
        top: 1rem;
        transform: scale(1.1);
      }
    }

    &:hover {
      transform: scale(1.1) translateY(-0.5rem);
      z-index: 20;
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      outline: 1.5rem solid $color-primary;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
