.footer {
  background-color: $color-dark-grey-4;
  padding: 10rem;
  font-size: 1.4rem;
  color: $color-grey-light-1;

  @include response-phone(tab-potrait) {
    padding: 8rem;
  }

  &__logo-box {
    text-align: center;
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__list {
    list-style-type: none;
  }

  &__navigation {
    display: inline-block;
    border-top: 1px solid $color-grey-light-1;
    padding-top: 2rem;

    @include response-phone(phone) {
      width: 100%;
      text-align: center;
    }
  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: rotate(5deg);
    }
  }

  &__copyright {
    text-align: justify;
    border-top: 1px solid $color-grey-light-1;
    padding-top: 2rem;

    @include response-phone(phone) {
      width: 100%;
      text-align: center;
      text-align: left;
    }
  }
}
